span {
    font-weight: bold;
    font-size:60px;
    font-family: 'Staatliches', cursive;
    color:#115a6d;
}
h1 {
    font-weight:bold;
    font-size:60px;
    font-family: 'Staatliches', cursive;
    
    color:#094A5B;
}